:root {
  --primary-color: #127444;
  --secondary-color: #add8e6;
  --nav-bottom-border-size: .5rem; /* rem for consistency */
}

html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  text-align: center;
  background-color: var(--primary-color);
}
.navigation {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #333;
}
.navigation img {
  position: absolute;
  z-index: 1;
  height: 150%;
  width: 100%;
  top: 1em;
  left: 0.5em;
}
.navigation::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: calc(var(--nav-bottom-border-size) * -1);
  height: var(--nav-bottom-border-size);
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
}
.logo-wrapper {
  position: relative;
  width: 20%;
}

nav {
  width: 80%;
}

nav ul,
nav ul li {
  display: flex;
}
nav ul {
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}
nav li > * {
  font-size: 1.5rem;
  padding: 1em;
  text-decoration: none;
  color: white;
}
nav a:hover, nav a:focus {
  text-decoration: underline;
}
.has-submenu {
  position: relative;
}
.has-submenu::after {
  content: "";
  position: absolute;
  right: 0;
  top: 45%;
  border: var(--secondary-color) var(--nav-bottom-border-size) solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform-origin: top;
  transition: all .3s ease-in-out;
}
.has-submenu:hover::after,
.has-submenu[class*="open"]::after {
  transform: rotateZ(-90deg);
}

.has-submenu[class*="open"] .nested,
.has-submenu:hover .nested {
transform: translateX(-50%) scale(1);
opacity: 1;
}
.nested {
  position: absolute;
  top: 80%;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 30;
  background-color: #333;
  box-shadow: 0 0 0 .1em var(--primary-color), .3rem .3rem 1.5rem -.2rem black;
  border-radius: .5em;
  opacity: 0;
  transform-origin: top;
  transform: translateX(-50%) scale(0);
  transition: all .3s ease-in-out;
}
.nested a {
  flex: 1 1 auto;
  text-align: initial;
  padding: .5em;
}
.has-submenu[class*="open"] li,
.has-submenu:hover li {
transform: translateY(0);
opacity: 1;
visibility: visible;
}
.nested li {
  opacity: 0;
  transform: translateY(-1em);
  transition: all .3s .15s ease;
  visibility: hidden;
}
.nested::after {
  content: "";
  position: absolute;
  border: var(--primary-color) solid var(--nav-bottom-border-size);
  top: calc(-2 * var(--nav-bottom-border-size)); /* Times by -2 to account for the border applying size twice */
  left: 50%;
  transform: translateX(-50%);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.nested::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 90%;
  border: 1px solid var(--secondary-color);
}

h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}

.hero {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top top"
    "bottom bottom";
  place-content: center;
  width: 100%;
  margin: 0 auto;
  min-height: 60vh;
}

.hero::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background: linear-gradient(180deg, transparent, var(--primary-color));
  z-index: -1;
}

.hero h1 {
  text-shadow: 5px 5px 10px black;
  grid-area: top;
  align-self: center;
}

.hero * {
  margin: 0 auto;
  color: white;
}
.image-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.hero picture {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}
.hero img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.club-lorem {
  grid-area: bottom;
}
.club-lorem p {
  width: 80%;
  border-top: 2px dashed white;
  padding-top: 1em;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
  .navigation img {
    /* margin: 1em 2em; */
  }
}
@media screen and (min-width: 800px) {
  .club-lorem {
    grid-area: initial;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
